<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/styles/style.css">
    <title>Number One !</title>
</head>

<body>
    <!-- Afficher la température de l'objet apiWeather -->
    <h1>La température est de : <%= apiWeather.temperatures[9] %>
    </h1>

    <!-- Afficher des éléments de l'objet feedGeekWire -->


    <!-- Afficher le nom de l'objet prof -->
    <h1>
        <%= prof.nom %>
    </h1>

    <ul>
        <% feedGeekWire.item.forEach(function(item) { %>
            <li>
                <span>Publié le : <%= item.pubDate %></span>
                <h1>
                    <a href='<%= item.link %>'>
                        <%= item.title %>
                    </a>
                </h1>
            </li>
            <% }); %>
    </ul>
</body>

</html>